

<%- include('partials/header') %>

<%- include('partials/nav') %> 

      <div class="search" style="width: 85vw; margin: 20px auto;">
        <div class="row">            
            <h3 class="col-12 col-lg-12 lead display-6"><%= title.toUpperCase() %> </h3>
            <%for(let x of res){%>
                <%if(title.indexOf("Movies")!= -1){%>
                    <div class="col-12">
                        <a href="/movies/<%= x.id %>/details"><div>
                            <img src="https://image.tmdb.org/t/p/w500/<%=x.poster_path%>" alt="">
                            <h3 class="lead moviename"><%= x.title.substring(0,16) %> </h3>
                            <h5 class="lead"><%=x.release_date%></h5>
                        </div></a>
                    </div>
                <% }else if(title.indexOf('TV-Shows')!= -1){ %> 
                    <div class="col-12">
                        <a href="/tv/<%= x.id %>/details"><div>
                            <img src="https://image.tmdb.org/t/p/w500/<%=x.poster_path%>" alt="">
                            <h3 class="lead moviename"><%= x.name.substring(0,16) %> </h3>
                            <h5 class="lead"><%=x.first_air_date%></h5>
                        </div></a>
                    </div>
                <% } %> 
            <%}%>
        </div>
    </div>


<%- include('partials/footer') %> 